<div class="about-wrapper" id="about">
  <div class="about">
    <div class="about__visual">
      <div class="about__portrait">
        <div class="about__portrait-bg"></div>
        <div class="about__portrait-rings"></div>
        <div class="about__portrait-frame">
          <img class="about__portrait-img" src="https://s13.gifyu.com/images/bIh0e.gif" alt="Bri - Nail Artist" />
        </div>
      </div>
      <div class="about__badge">
        <span class="about__badge-num">N/A</span>
        <span class="about__badge-text">years of artistry</span>
      </div>
    </div>
    <div class="about__content">
      <p class="section-eyebrow">The Artist</p>
      <h2 class="section-title">Hello, I'm <em>Bri</em></h2>
    <div class="about__text">
    <ul>
        <li>18</li>
        <li>Pusheen lover</li>
        <li>That's all you wanna know about me</li>
    </ul>
</div>
      <div class="about__stats">
        <div class="stat">
          <span class="stat__num">N/A</span>
          <span class="stat__label">Happy clients</span>
        </div>
        <div class="stat">
          <span class="stat__num">∞</span>
          <span class="stat__label">Design possibilities</span>
        </div>
        <div class="stat">
          <span class="stat__num">100%</span>
          <span class="stat__label">Cruelty-free products</span>
        </div>
      </div>
    </div>
  </div>
</div>