<nav class="nav">
  <a class="nav__logo" href="#">
    <span class="nav__logo-script">sweetie</span>
    <span class="nav__logo-caps">NAILS</span>
  </a>

  <ul class="nav__links" [class.open]="menuOpen">
    <li><a href="#gallery"  (click)="closeMenu()">Gallery</a></li>
    <li><a href="#services" (click)="closeMenu()">Services</a></li>
    <li><a href="#about"    (click)="closeMenu()">About</a></li>
    <li><a href="#contact"  (click)="closeMenu()" class="nav__cta">Book Now</a></li>
  </ul>

  <div class="nav__right">
     <p>
      @if (!darkMode) {Turn on dark mode} @else {Turn on light mode}
    </p>
    <button class="nav__dark-btn" (click)="toggleDark()" [attr.aria-label]="darkMode ? 'Light mode' : 'Dark mode'">
      @if (!darkMode) { 🌙 } @else { ☀️ }
    </button>
   
    <button class="nav__burger" (click)="toggleMenu()" [class.active]="menuOpen" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>